
.centered-text {
  text-align: center;
}
{color: white;}
body {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), 
    url(https://es.pinterest.com/pin/421719952589137737/); 
    
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}